<nav class="dash-navbar">
    <div class="nav-left">
    <a href="/listings" class="text-decoration-none">
        <h2 class="logo">StayVerse</h2>
    </a>
</div>

    <% if(user) { %>

    <div class="nav-center">
        <a href="/listings">Discover</a>
        <a href="/dashboard" class="active">Reservations</a>
        
    </div>

    <div class="nav-right">
            <div class="nav-right">
        
       <a href="/users/<%= user._id %>" class="text-decoration-none text-dark"> <i class="fa-regular fa-user fs-5"></i> </a>
    </div>

    <% }%>
    </div>
</nav>