<footer class="footer mt-5">

  <!-- TOP LINKS -->
  <div class="container py-4">

    <div class="row">

        <h2>Inspiration for your next trip</h2>

      <!-- POPULAR DESTINATIONS -->
      <div class="col-md-4 mb-4 mt-4">
        <h6 class="fw-bold">Popular Destinations</h6>

        <div class="row">
          <div class="col-6">
            <p>Mumbai<br><small>Apartment stays</small></p>
            <p>Goa<br><small>Beach villas</small></p>
            <p>Jaipur<br><small>Heritage homes</small></p>
          </div>

          <div class="col-6">
            <p>Manali<br><small>Mountain stays</small></p>
            <p>Udaipur<br><small>Lake view stays</small></p>
            <p>Kerala<br><small>Backwater homes</small></p>
          </div>
        </div>
      </div>

      <!-- SUPPORT -->
      <div class="col-md-4 mb-4 mt-4">
        <h6 class="fw-bold">Support</h6>
        <p><a href="/help">Help Centre</a></p>
        <p><a href="/safety">Safety information</a></p>
        <p><a href="/report-issue">Report issue</a></p>
      </div>

      <!-- HOSTING -->
      <div class="col-md-4 mb-4 mt-4">
        <h6 class="fw-bold">Hosting</h6>
        <p><a href="/hosting-resources">Host resources</a></p>
        <p><a href="/community-forum">Community forum</a></p>
        <p><a href="/responsible-hosting">Responsible hosting</a></p>
      </div>

    </div>

  </div>

  <!-- BOTTOM BAR -->
  <div class="border-top py-3">

    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">

      <!-- LEFT -->
      <div class="mb-2 mb-md-0">
        © StayVerse Ltd. · 
        <a href="/privacy">Privacy</a> · 
        <a href="/terms">Terms</a>
      </div>

      <!-- RIGHT -->
      <div class="d-flex align-items-center gap-3">

        <span><i class="fa-solid fa-globe"></i> English (IN)</span>
        <span>₹ INR</span>

        <div class="d-flex gap-2">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-x-twitter"></i>
        </div>

      </div>

    </div>

  </div>

</footer>