<% layout("/layouts/boilerplate") %>
<body>

    <br>

    

    <div class="row">

        <div class="col-8 offset-2">

            <h2>Create new Listing</h2>

            <form   enctype="multipart/form-data" action="/listings" method="POST" novalidate class="needs-validation" >

                <div class="mb-3">

                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="enter title" class="form-control" required >   <!-- here we create listing object name="listing[title]" key value pair, key will be title , and value is input come from title -->
                    <div class="valid-feedback"> Title looks good!</div>
                    <div class="invalid-feedback"> Title not looks good!</div>
                    

                </div>

                <div class="mb-3">

                    <label for="roomNumber" class="form-label ">Room Number</label>
                     <input type="number" name="listing[roomNumber]" placeholder="enter room number" class="form-control" required >   <!-- here we create listing object name="listing[description]" key value pair, key will be description , and value is input come from description -->  
                    <div class="valid-feedback"> Well done!</div>  
                    <div class="invalid-feedback"> Please enter room number </div>  

                </div>

                <div class="mb-3">

                    <label for="description" class="form-label ">Description</label>
                    <textarea  name="listing[description]" placeholder="enter description" class="form-control" required ></textarea >  <!-- here we create listing object name="listing[description]" key value pair, key will be description , and value is input come from description -->  
                    <div class="valid-feedback"> Well done!</div>  
                    <div class="invalid-feedback"> Please enter short description </div>  

                </div>


                <!-- <div class="mb-3">
                
                    <label for="image" class="form-label ">Upload the Listing Images</label>
                    <input type="file" name="listing[image]"  class="form-control"  >

                </div> -->

                <div class="mb-3">
                    <label for="images" class="form-label">Upload the Listing Images</label>
                    
                    <div id="image-inputs">
                        <input type="file" name="images" accept="image/*" class="form-control mb-2" >
                        <!-- The value image/* means any image type (like .jpg, .png, .gif, .webp, etc.). -->
                    </div>

                    <button type="button" class="addAnotherImgBtn" onclick="addAnotherImageInput()">Add Another Image</button>
                </div>



                <div class="row">

                    <div class="mb-3 col-md-4">

                        <label for="price" class="form-label ">Price</label>
                        <input  name="listing[price]" placeholder="enter price" class="form-control" required>
                        <div class="valid-feedback"> Well done!</div>  
                        <div class="invalid-feedback"> Please enter valid price </div> 

                    </div>

                    <div class="mb-3 col-md-8">
                    
                        <label for="country" class="form-label " >Country</label>
                        <input type="text" name="listing[country]" placeholder="enter country" class="form-control" required>
                        <div class="valid-feedback"> Awesome!</div>  
                        <div class="invalid-feedback"> Please enter country name </div> 

                    </div>

                </div>

                
                

                <div class="mb-3">
                    
                    <label for="location" class="form-label ">Location</label>
                    <input type="text" name="listing[location]" placeholder="enter location" class="form-control" required >
                    <div class="valid-feedback"> Great!</div>  
                    <div class="invalid-feedback"> Please enter valid location </div> 

                </div>

                
                

                <button type="submit" class="btn btn-dark">submit</button>

            </form>

            <br>

        </div>

    </div>

    
    
</body>
